In [96]:
import pandas as pd
import numpy as np
import datetime
import time

# COMBINING DAILY SOLAR DATA WITH CAPACITY INFO

In [97]:
# import metadata
metadata = pd.read_csv('metadata.csv')
metadata.drop(index=metadata.index[0], axis=0, inplace=True)
keeper_columns = ['dataid', 'pv', 'pv_panel_direction', 'total_amount_of_pv', 'amount_of_south_facing_pv', 'amount_of_west_facing_pv',
                 'amount_of_east_facing_pv']
metadata = metadata[keeper_columns]
metadata[["dataid", "total_amount_of_pv", 'amount_of_south_facing_pv', 'amount_of_west_facing_pv',
                 'amount_of_east_facing_pv']] = metadata[["dataid", "total_amount_of_pv", 'amount_of_south_facing_pv', 'amount_of_west_facing_pv',
                 'amount_of_east_facing_pv']].apply(pd.to_numeric)

# filling nans in certain metadata columns
metadata[['amount_of_south_facing_pv', 'amount_of_west_facing_pv',
                 'amount_of_east_facing_pv']] = metadata[['amount_of_south_facing_pv', 'amount_of_west_facing_pv',
                 'amount_of_east_facing_pv']].fillna(0)

metadata

,dataid,pv,pv_panel_direction,total_amount_of_pv,amount_of_south_facing_pv,amount_of_west_facing_pv,amount_of_east_facing_pv
1,2836,NaN,NaN,NaN,0.0,0.00,0.0
2,2743,NaN,NaN,NaN,0.0,0.00,0.0
3,5323,NaN,NaN,NaN,0.0,0.00,0.0
4,8560,NaN,NaN,NaN,0.0,0.00,0.0
5,3313,NaN,NaN,NaN,0.0,0.00,0.0
...,...,...,...,...,...,...,...
1728,11360,yes,West,5.25,0.0,5.25,0.0
1729,5361,NaN,NaN,NaN,0.0,0.00,0.0
1730,8217,NaN,NaN,NaN,0.0,0.00,0.0
1731,8057,yes,NaN,NaN,0.0,0.00,0.0
1732,7314,yes,NaN,NaN,0.0,0.00,0.0

In [98]:
# import solar data
solardata = pd.read_csv('manipulated_15minute_data_austin.csv')
solardata[["dataid"]] = solardata[["dataid"]].apply(pd.to_numeric)
solardata.dropna(inplace=True)

In [99]:
# Combine info

merged = solardata.merge(metadata, on='dataid', how="inner")
merged.dropna(inplace=True)
merged.head()

,dataid,local_15min,grid,solar,leg1v,leg2v,pv,pv_panel_direction,total_amount_of_pv,amount_of_south_facing_pv,amount_of_west_facing_pv,amount_of_east_facing_pv
0,661,11/21/2018 15:15,0.124,0.276,123.915,124.277,yes,South,6.3,6.3,0.0,0.0
1,661,11/21/2018 15:30,0.251,0.167,123.959,124.293,yes,South,6.3,6.3,0.0,0.0
2,661,11/21/2018 15:45,0.419,0.179,123.886,124.240,yes,South,6.3,6.3,0.0,0.0
3,661,11/21/2018 16:00,0.833,0.076,123.880,124.175,yes,South,6.3,6.3,0.0,0.0
4,661,11/21/2018 16:15,1.105,0.064,123.633,124.226,yes,South,6.3,6.3,0.0,0.0

In [100]:
# NON-MEMORY: merge weather and solar data
# IMPROVEMENT AREA: drops all solar info except 'percent output'
merged = merged[['dataid','local_15min','total_amount_of_pv','solar']]
weatherdata = pd.read_excel('2018 Compiled Weather Data.xlsx')

# Converting join columns to matching datetime data types
merged['local_15min'] = pd.to_datetime(merged['local_15min'])
weatherdata['datetime'] = pd.to_datetime(weatherdata['datetime'])

C:\Users\trevo\AppData\Local\Temp\ipykernel_22592\3549257101.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  weatherdata = pd.read_excel('2018 Compiled Weather Data.xlsx')

In [101]:
trainingdata = merged.merge(weatherdata, left_on='local_15min', right_on='datetime', how="inner")
trainingdata.head()

,dataid,local_15min,total_amount_of_pv,solar,name,datetime,temp,feelslike,dew,humidity,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,661,2018-11-21 16:00:00,6.30,0.076,Austin,2018-11-21 16:00:00,54.0,54.0,43.1,66.34,...,1026.0,100.0,9.5,65.0,0.2,1.0,NaN,Overcast,cloudy,"KATT,KAUS,72064800230,E4737,KEDC,72254013904,7..."
1,1642,2018-11-21 16:00:00,6.37,0.097,Austin,2018-11-21 16:00:00,54.0,54.0,43.1,66.34,...,1026.0,100.0,9.5,65.0,0.2,1.0,NaN,Overcast,cloudy,"KATT,KAUS,72064800230,E4737,KEDC,72254013904,7..."
2,2335,2018-11-21 16:00:00,5.92,0.079,Austin,2018-11-21 16:00:00,54.0,54.0,43.1,66.34,...,1026.0,100.0,9.5,65.0,0.2,1.0,NaN,Overcast,cloudy,"KATT,KAUS,72064800230,E4737,KEDC,72254013904,7..."
3,2818,2018-11-21 16:00:00,5.39,0.127,Austin,2018-11-21 16:00:00,54.0,54.0,43.1,66.34,...,1026.0,100.0,9.5,65.0,0.2,1.0,NaN,Overcast,cloudy,"KATT,KAUS,72064800230,E4737,KEDC,72254013904,7..."
4,3039,2018-11-21 16:00:00,6.25,0.152,Austin,2018-11-21 16:00:00,54.0,54.0,43.1,66.34,...,1026.0,100.0,9.5,65.0,0.2,1.0,NaN,Overcast,cloudy,"KATT,KAUS,72064800230,E4737,KEDC,72254013904,7..."

In [102]:
## IMPROVEMENT OPPORTUNITY: 'conditions' categorical variable is not used
trainingdata.drop(['name', 'datetime', 'dataid', 'stations', 'icon', 'conditions'], axis=1, inplace=True) 
list(trainingdata.columns.values)

['local_15min',
 'total_amount_of_pv',
 'solar',
 'temp',
 'feelslike',
 'dew',
 'humidity',
 'precip',
 'precipprob',
 'preciptype',
 'snow',
 'snowdepth',
 'windgust',
 'windspeed',
 'winddir',
 'sealevelpressure',
 'cloudcover',
 'visibility',
 'solarradiation',
 'solarenergy',
 'uvindex',
 'severerisk']

In [103]:
# turn datetime into 4 new columns: year, month, day, time
trainingdata['year'] = trainingdata['local_15min'].dt.year
trainingdata['month'] = trainingdata['local_15min'].dt.month
trainingdata['day'] = trainingdata['local_15min'].dt.day
trainingdata['time'] = trainingdata['local_15min'].dt.hour + trainingdata['local_15min'].dt.minute / 60

In [104]:
trainingdata.drop(['local_15min', 'precipprob','preciptype','severerisk', 'snow', 'snowdepth', 'year'], axis=1, inplace=True) 

#IMPROVEMENT AREA: a lot of data is dropped here. This might be something from adding the new columns
trainingdata.dropna(inplace=True)

In [105]:
# Aggregate solar output by hour. Creates grid-level info rather than house-level
Start_index = 0
End_index = 0
Starting_fresh = True

Cumulative_capacity = 0
Cumulative_output = 0

Previous_month = 11
Previous_day = 12
Previous_time = 10


for i, row in trainingdata.iterrows():
    if Starting_fresh == True:
        Previous_month = trainingdata.at[i,'month']
        Previous_day = trainingdata.at[i,'day']
        Previous_time = trainingdata.at[i,'time']
        
        Cumulative_capacity = 0
        Cumulative_output = 0
        
        Start_index = i
        End_index = i
        Starting_fresh = False
    
    Current_month = trainingdata.at[i,'month']
    Current_day = trainingdata.at[i,'day']
    Current_time = trainingdata.at[i,'time']
    
    if (Current_month != Previous_month) or (Current_day != Previous_day) or (Current_time != Previous_time):
        trainingdata.at[Start_index,'total_amount_of_pv'] = Cumulative_capacity #overwrite first time with cumulative data
        trainingdata.at[Start_index,'solar'] = Cumulative_output
        
        if (Start_index != End_index):
            trainingdata.drop(list(range(Start_index+1, End_index+1)), inplace=True) #drop other rows with the same time after that. this might be a bug if dropping during iterrows causes it to skip
                      
        Previous_month = trainingdata.at[i,'month']
        Previous_day = trainingdata.at[i,'day']
        Previous_time = trainingdata.at[i,'time']
        
        Cumulative_capacity = trainingdata.at[i,'total_amount_of_pv']
        Cumulative_output = trainingdata.at[i,'solar']
        
        Start_index = i
        End_index = i
        
    else:
        Cumulative_capacity = Cumulative_capacity + trainingdata.at[i,'total_amount_of_pv']
        Cumulative_output = Cumulative_output + trainingdata.at[i,'solar']
        End_index = i

In [106]:
trainingdata.head(10)

,total_amount_of_pv,solar,temp,feelslike,dew,humidity,precip,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,month,day,time
368,88.93,25.369,65.0,65.0,57.8,77.51,0.0,18.3,7.6,238.0,1014.9,100.0,9.9,279.0,1.0,3.0,11,23,11.0
384,88.93,40.640,70.2,70.2,58.4,66.33,0.0,16.1,7.0,232.0,1013.2,41.5,9.9,432.0,1.6,4.0,11,23,12.0
400,88.93,50.086,74.2,74.2,56.5,54.03,0.0,21.6,6.5,230.0,1011.2,11.3,9.9,513.0,1.8,5.0,11,23,13.0
416,88.93,47.875,76.6,76.6,52.2,42.58,0.0,16.2,9.3,266.0,1010.0,11.3,9.9,543.0,2.0,5.0,11,23,14.0
432,88.93,39.471,78.3,78.3,44.7,30.39,0.0,16.4,10.1,282.0,1009.4,8.5,9.9,495.0,1.8,5.0,11,23,15.0
768,88.93,25.547,73.6,73.6,42.8,33.21,0.0,17.2,8.4,159.0,1010.1,20.1,9.9,384.0,1.4,4.0,11,24,12.0
784,88.93,16.179,75.1,75.1,40.1,28.33,0.0,19.7,7.2,212.0,1009.1,22.6,9.9,371.0,1.3,4.0,11,24,13.0
832,88.93,17.023,74.0,74.0,42.9,32.83,0.0,18.3,6.9,188.0,1006.4,20.1,9.9,282.0,1.0,3.0,11,24,16.0
1120,88.93,34.446,67.3,67.3,40.2,37.07,0.0,21.8,12.1,343.0,1012.2,20.1,9.9,286.0,1.0,3.0,11,25,10.0
1136,88.93,38.846,67.3,67.3,32.0,26.75,0.0,25.6,13.5,339.0,1013.1,20.1,9.9,347.0,1.2,3.0,11,25,11.0

In [107]:
# Create "Percent Output" column
# Unit Assumptions. Near certain these are right:
#      -"total amount of pv" unit is kW (looked at average PV installation sizes)
#      -"solar" and "grid" units are kW (looked at average home consumption)
# IMPROVEMENT AREA: Does not account for orientation of panels
trainingdata["Percent Output"] = trainingdata["solar"] / trainingdata["total_amount_of_pv"]
trainingdata.head()

,total_amount_of_pv,solar,temp,feelslike,dew,humidity,precip,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,month,day,time,Percent Output
368,88.93,25.369,65.0,65.0,57.8,77.51,0.0,18.3,7.6,238.0,1014.9,100.0,9.9,279.0,1.0,3.0,11,23,11.0,0.285269
384,88.93,40.640,70.2,70.2,58.4,66.33,0.0,16.1,7.0,232.0,1013.2,41.5,9.9,432.0,1.6,4.0,11,23,12.0,0.456989
400,88.93,50.086,74.2,74.2,56.5,54.03,0.0,21.6,6.5,230.0,1011.2,11.3,9.9,513.0,1.8,5.0,11,23,13.0,0.563207
416,88.93,47.875,76.6,76.6,52.2,42.58,0.0,16.2,9.3,266.0,1010.0,11.3,9.9,543.0,2.0,5.0,11,23,14.0,0.538345
432,88.93,39.471,78.3,78.3,44.7,30.39,0.0,16.4,10.1,282.0,1009.4,8.5,9.9,495.0,1.8,5.0,11,23,15.0,0.443843

In [108]:
trainingdata.drop(columns=['solar','total_amount_of_pv'], inplace=True)
trainingdata.head()

,temp,feelslike,dew,humidity,precip,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,month,day,time,Percent Output
368,65.0,65.0,57.8,77.51,0.0,18.3,7.6,238.0,1014.9,100.0,9.9,279.0,1.0,3.0,11,23,11.0,0.285269
384,70.2,70.2,58.4,66.33,0.0,16.1,7.0,232.0,1013.2,41.5,9.9,432.0,1.6,4.0,11,23,12.0,0.456989
400,74.2,74.2,56.5,54.03,0.0,21.6,6.5,230.0,1011.2,11.3,9.9,513.0,1.8,5.0,11,23,13.0,0.563207
416,76.6,76.6,52.2,42.58,0.0,16.2,9.3,266.0,1010.0,11.3,9.9,543.0,2.0,5.0,11,23,14.0,0.538345
432,78.3,78.3,44.7,30.39,0.0,16.4,10.1,282.0,1009.4,8.5,9.9,495.0,1.8,5.0,11,23,15.0,0.443843

In [109]:
# reorder so the predicted feature is at the end
column_to_reorder = trainingdata.pop('Percent Output')
trainingdata.insert(len(trainingdata. columns), 'Percent Output', column_to_reorder)

trainingdata.dtypes

temp                float64
feelslike           float64
dew                 float64
humidity            float64
precip              float64
windgust            float64
windspeed           float64
winddir             float64
sealevelpressure    float64
cloudcover          float64
visibility          float64
solarradiation      float64
solarenergy         float64
uvindex             float64
month                 int64
day                   int64
time                float64
Percent Output      float64
dtype: object

In [113]:
# Transforming output data to include time-series information
# IMPROVEMENT AREA: Fiddle with how far back you want the data to go to inform future predictions

current_house, onefourtyfive_ago, onethirty_ago, onefifteen_ago, one_ago, fourtyfive_ago, thirty_ago, fifteen_ago = None, None, None, None, None, None, None, None
trainingdata['onefourtyfive_ago'] = None
trainingdata['onethirty_ago'] = None
trainingdata['onefifteen_ago'] = None
trainingdata['one_ago'] = None
trainingdata['fourtyfive_ago'] = None
trainingdata['thirty_ago'] = None
trainingdata['fifteen_ago'] = None

trainingdata.head()

for i, row in trainingdata.iterrows():
    
    
    trainingdata.at[i,'onefourtyfive_ago'] = onefourtyfive_ago
    trainingdata.at[i,'onethirty_ago'] = onethirty_ago
    trainingdata.at[i,'onefifteen_ago'] = onefifteen_ago
    trainingdata.at[i,'one_ago'] = one_ago
    trainingdata.at[i,'fourtyfive_ago'] = fourtyfive_ago
    trainingdata.at[i,'thirty_ago'] = thirty_ago
    trainingdata.at[i,'fifteen_ago'] = fifteen_ago
        
    onefourtyfive_ago = onethirty_ago
    onethirty_ago = onefifteen_ago
    onefifteen_ago = one_ago
    one_ago = fourtyfive_ago
    fourtyfive_ago = thirty_ago                       # refresh previous data variables
    thirty_ago = fifteen_ago
    fifteen_ago = row['Percent Output']   

trainingdata[['onefourtyfive_ago', 'onethirty_ago', 'onefifteen_ago', 'one_ago', 
              'fourtyfive_ago', 'thirty_ago', 'fifteen_ago']] = trainingdata[['onefourtyfive_ago', 'onethirty_ago', 
                                                                              'onefifteen_ago', 'one_ago', 'fourtyfive_ago', 
                                                                              'thirty_ago', 'fifteen_ago']].apply(pd.to_numeric)

In [114]:
# reorder so the predicted feature is at the end
column_to_reorder = trainingdata.pop('Percent Output')
trainingdata.insert(len(trainingdata. columns), 'Percent Output', column_to_reorder)

trainingdata.dtypes

temp                 float64
feelslike            float64
dew                  float64
humidity             float64
precip               float64
windgust             float64
windspeed            float64
winddir              float64
sealevelpressure     float64
cloudcover           float64
visibility           float64
solarradiation       float64
solarenergy          float64
uvindex              float64
month                  int64
day                    int64
time                 float64
onefourtyfive_ago    float64
onethirty_ago        float64
onefifteen_ago       float64
one_ago              float64
fourtyfive_ago       float64
thirty_ago           float64
fifteen_ago          float64
Percent Output       float64
dtype: object

In [115]:
trainingdata.describe()

,temp,feelslike,dew,humidity,precip,windgust,windspeed,winddir,sealevelpressure,cloudcover,...,day,time,onefourtyfive_ago,onethirty_ago,onefifteen_ago,one_ago,fourtyfive_ago,thirty_ago,fifteen_ago,Percent Output
count,1532.000000,1532.000000,1532.000000,1532.000000,1532.000000,1532.000000,1532.000000,1532.000000,1532.000000,1532.000000,...,1532.000000,1532.000000,1525.000000,1526.000000,1527.000000,1528.000000,1529.000000,1530.000000,1531.000000,1532.000000
mean,75.949608,76.780222,55.350392,52.525339,0.005020,21.197781,10.086292,178.152285,1015.348107,47.597846,...,15.928198,14.223238,0.306533,0.306775,0.306955,0.307185,0.307466,0.307726,0.307799,0.308023
std,16.783136,19.567574,15.691973,19.063204,0.053132,3.995325,2.838960,93.420447,6.624626,38.248825,...,8.769272,3.251654,0.228360,0.228481,0.228515,0.228616,0.228807,0.228957,0.228900,0.228993
min,25.000000,13.700000,5.500000,9.380000,0.000000,16.100000,0.200000,1.000000,1000.000000,0.000000,...,1.000000,6.000000,-0.003700,-0.003700,-0.003700,-0.003700,-0.003700,-0.003700,-0.003700,-0.003700
25%,65.950000,65.950000,44.475000,37.837500,0.000000,18.300000,8.100000,148.000000,1010.900000,11.300000,...,9.000000,12.000000,0.089655,0.089790,0.089925,0.090060,0.090195,0.090254,0.090313,0.090372
50%,77.800000,77.800000,62.100000,50.590000,0.000000,20.700000,9.800000,173.000000,1014.100000,34.300000,...,15.000000,14.000000,0.281547,0.282368,0.283189,0.284229,0.285269,0.285505,0.285742,0.285966
75%,89.525000,94.125000,67.200000,65.727500,0.000000,23.325000,11.700000,202.000000,1018.600000,91.800000,...,24.000000,17.000000,0.530383,0.530409,0.530586,0.530873,0.531227,0.531277,0.531261,0.531367
max,104.600000,106.200000,76.000000,97.070000,1.350000,37.500000,22.800000,360.000000,1043.200000,100.000000,...,31.000000,21.000000,0.743664,0.743664,0.743664,0.743664,0.743664,0.743664,0.743664,0.743664

In [117]:
#Normalizing data
for column in trainingdata.columns:
    if column == 'Percent Output':
        break
    trainingdata[column] = trainingdata[column]
    trainingdata[column] = (trainingdata[column] - trainingdata[column].mean()) / trainingdata[column].std()

In [118]:
trainingdata.describe()

,temp,feelslike,dew,humidity,precip,windgust,windspeed,winddir,sealevelpressure,cloudcover,...,day,time,onefourtyfive_ago,onethirty_ago,onefifteen_ago,one_ago,fourtyfive_ago,thirty_ago,fifteen_ago,Percent Output
count,1.532000e+03,1.532000e+03,1.532000e+03,1.532000e+03,1.532000e+03,1.532000e+03,1.532000e+03,1.532000e+03,1.532000e+03,1.532000e+03,...,1.532000e+03,1.532000e+03,1.525000e+03,1.526000e+03,1.527000e+03,1.528000e+03,1.529000e+03,1.530000e+03,1.531000e+03,1532.000000
mean,7.709800e-15,-7.834609e-16,4.348132e-16,-6.527995e-16,5.625758e-16,5.491111e-15,7.000782e-15,2.017533e-16,3.681710e-13,8.262610e-15,...,1.246464e-16,7.194347e-17,-9.413235e-16,-8.228455e-16,-8.180897e-16,-9.688294e-16,-7.811497e-16,-8.507356e-16,-7.080482e-16,0.308023
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.228993
min,-3.035762e+00,-3.223712e+00,-3.176808e+00,-2.263279e+00,-9.447302e-02,-1.275936e+00,-3.482364e+00,-1.896290e+00,-2.316826e+00,-1.244426e+00,...,-1.702330e+00,-2.528940e+00,-1.358522e+00,-1.358864e+00,-1.359452e+00,-1.359854e+00,-1.359952e+00,-1.360191e+00,-1.360849e+00,-0.003700
25%,-5.958129e-01,-5.534780e-01,-6.930545e-01,-7.704812e-01,-9.447302e-02,-7.252929e-01,-6.996549e-01,-3.227589e-01,-6.714503e-01,-9.489924e-01,...,-7.900540e-01,-6.837251e-01,-9.497191e-01,-9.496862e-01,-9.497444e-01,-9.497374e-01,-9.495877e-01,-9.498392e-01,-9.501372e-01,0.090372
50%,1.102530e-01,5.211571e-02,4.301313e-01,-1.015223e-01,-9.447302e-02,-1.245908e-01,-1.008441e-01,-5.515157e-02,-1.884041e-01,-3.476668e-01,...,-1.058467e-01,-6.865355e-02,-1.094134e-01,-1.068212e-01,-1.040023e-01,-1.004104e-01,-9.701246e-02,-9.705189e-02,-9.636417e-02,0.285966
75%,8.088710e-01,8.864041e-01,7.551382e-01,6.925468e-01,-9.447302e-02,5.324271e-01,5.684150e-01,2.552730e-01,4.908795e-01,1.155647e+00,...,9.204643e-01,8.539538e-01,9.802510e-01,9.787872e-01,9.786284e-01,9.784452e-01,9.779460e-01,9.763882e-01,9.762375e-01,0.531367
max,1.707094e+00,1.503496e+00,1.315935e+00,2.336683e+00,2.531373e+01,4.080324e+00,4.478297e+00,1.946552e+00,4.204297e+00,1.370033e+00,...,1.718706e+00,2.084097e+00,1.914214e+00,1.912147e+00,1.911075e+00,1.909225e+00,1.906402e+00,1.904012e+00,1.904165e+00,0.743664

In [119]:
trainingdata.to_csv("Normalized Memory Aggregated 2018 Compiled Weather Data.csv")