In [98]:
import pandas as pd
import numpy as np
import datetime
import time

# COMBINING DAILY SOLAR DATA WITH CAPACITY INFO

In [99]:
# import metadata
metadata = pd.read_csv('metadata.csv')
metadata.drop(index=metadata.index[0], axis=0, inplace=True)
keeper_columns = ['dataid', 'pv', 'pv_panel_direction', 'total_amount_of_pv', 'amount_of_south_facing_pv', 'amount_of_west_facing_pv',
                 'amount_of_east_facing_pv']
metadata = metadata[keeper_columns]
metadata[["dataid", "total_amount_of_pv", 'amount_of_south_facing_pv', 'amount_of_west_facing_pv',
                 'amount_of_east_facing_pv']] = metadata[["dataid", "total_amount_of_pv", 'amount_of_south_facing_pv', 'amount_of_west_facing_pv',
                 'amount_of_east_facing_pv']].apply(pd.to_numeric)

# filling nans in certain metadata columns
metadata[['amount_of_south_facing_pv', 'amount_of_west_facing_pv',
                 'amount_of_east_facing_pv']] = metadata[['amount_of_south_facing_pv', 'amount_of_west_facing_pv',
                 'amount_of_east_facing_pv']].fillna(0)

metadata

,dataid,pv,pv_panel_direction,total_amount_of_pv,amount_of_south_facing_pv,amount_of_west_facing_pv,amount_of_east_facing_pv
1,2836,NaN,NaN,NaN,0.0,0.00,0.0
2,2743,NaN,NaN,NaN,0.0,0.00,0.0
3,5323,NaN,NaN,NaN,0.0,0.00,0.0
4,8560,NaN,NaN,NaN,0.0,0.00,0.0
5,3313,NaN,NaN,NaN,0.0,0.00,0.0
...,...,...,...,...,...,...,...
1728,11360,yes,West,5.25,0.0,5.25,0.0
1729,5361,NaN,NaN,NaN,0.0,0.00,0.0
1730,8217,NaN,NaN,NaN,0.0,0.00,0.0
1731,8057,yes,NaN,NaN,0.0,0.00,0.0
1732,7314,yes,NaN,NaN,0.0,0.00,0.0

In [100]:
# import solar data
solardata = pd.read_csv('manipulated_15minute_data_austin.csv')
solardata[["dataid"]] = solardata[["dataid"]].apply(pd.to_numeric)
solardata.dropna(inplace=True)

In [101]:
# Combine info

merged = solardata.merge(metadata, on='dataid', how="inner")
merged.dropna(inplace=True)
merged.head()

,dataid,local_15min,grid,solar,leg1v,leg2v,pv,pv_panel_direction,total_amount_of_pv,amount_of_south_facing_pv,amount_of_west_facing_pv,amount_of_east_facing_pv
0,661,11/21/2018 15:15,0.124,0.276,123.915,124.277,yes,South,6.3,6.3,0.0,0.0
1,661,11/21/2018 15:30,0.251,0.167,123.959,124.293,yes,South,6.3,6.3,0.0,0.0
2,661,11/21/2018 15:45,0.419,0.179,123.886,124.240,yes,South,6.3,6.3,0.0,0.0
3,661,11/21/2018 16:00,0.833,0.076,123.880,124.175,yes,South,6.3,6.3,0.0,0.0
4,661,11/21/2018 16:15,1.105,0.064,123.633,124.226,yes,South,6.3,6.3,0.0,0.0

In [102]:
# NON-MEMORY: merge weather and solar data
# IMPROVEMENT AREA: drops all solar info except 'percent output'
merged = merged[['dataid','local_15min','total_amount_of_pv','solar']]
weatherdata = pd.read_excel('2018 Compiled Weather Data_Solar Nans Begone.xlsx')

# Converting join columns to matching datetime data types
merged['local_15min'] = pd.to_datetime(merged['local_15min'])
weatherdata['datetime'] = pd.to_datetime(weatherdata['datetime'])

C:\Users\trevo\AppData\Local\Temp\ipykernel_19172\1977108455.py:4: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  weatherdata = pd.read_excel('2018 Compiled Weather Data_Solar Nans Begone.xlsx')

In [103]:
trainingdata = merged.merge(weatherdata, left_on='local_15min', right_on='datetime', how="inner")
trainingdata.head()

,dataid,local_15min,total_amount_of_pv,solar,datetime,temp,feelslike,dew,humidity,precip,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,661,2018-11-21 16:00:00,6.30,0.076,2018-11-21 16:00:00,54.0,54.0,43.1,66.34,0.0,...,1026.0,100.0,9.5,65.0,0.2,1.0,NaN,Overcast,cloudy,"KATT,KAUS,72064800230,E4737,KEDC,72254013904,7..."
1,1642,2018-11-21 16:00:00,6.37,0.097,2018-11-21 16:00:00,54.0,54.0,43.1,66.34,0.0,...,1026.0,100.0,9.5,65.0,0.2,1.0,NaN,Overcast,cloudy,"KATT,KAUS,72064800230,E4737,KEDC,72254013904,7..."
2,2335,2018-11-21 16:00:00,5.92,0.079,2018-11-21 16:00:00,54.0,54.0,43.1,66.34,0.0,...,1026.0,100.0,9.5,65.0,0.2,1.0,NaN,Overcast,cloudy,"KATT,KAUS,72064800230,E4737,KEDC,72254013904,7..."
3,2818,2018-11-21 16:00:00,5.39,0.127,2018-11-21 16:00:00,54.0,54.0,43.1,66.34,0.0,...,1026.0,100.0,9.5,65.0,0.2,1.0,NaN,Overcast,cloudy,"KATT,KAUS,72064800230,E4737,KEDC,72254013904,7..."
4,3039,2018-11-21 16:00:00,6.25,0.152,2018-11-21 16:00:00,54.0,54.0,43.1,66.34,0.0,...,1026.0,100.0,9.5,65.0,0.2,1.0,NaN,Overcast,cloudy,"KATT,KAUS,72064800230,E4737,KEDC,72254013904,7..."

In [104]:
## IMPROVEMENT OPPORTUNITY: 'conditions' categorical variable is not used
trainingdata.drop(['datetime', 'windgust', 'dataid', 'stations', 'icon', 'conditions'], axis=1, inplace=True) 
list(trainingdata.columns.values)

['local_15min',
 'total_amount_of_pv',
 'solar',
 'temp',
 'feelslike',
 'dew',
 'humidity',
 'precip',
 'precipprob',
 'preciptype',
 'snow',
 'snowdepth',
 'windspeed',
 'winddir',
 'sealevelpressure',
 'cloudcover',
 'visibility',
 'solarradiation',
 'solarenergy',
 'uvindex',
 'severerisk']

In [105]:
# turn datetime into 4 new columns: year, month, day, time
trainingdata['year'] = trainingdata['local_15min'].dt.year
trainingdata['month'] = trainingdata['local_15min'].dt.month
trainingdata['day'] = trainingdata['local_15min'].dt.day
trainingdata['time'] = trainingdata['local_15min'].dt.hour + trainingdata['local_15min'].dt.minute / 60

In [106]:
trainingdata.drop(['local_15min', 'precipprob','preciptype','severerisk', 'snow', 'snowdepth', 'year'], axis=1, inplace=True) 

trainingdata[['solarradiation', 'solarenergy','uvindex']] = trainingdata[['solarradiation', 'solarenergy','uvindex']].fillna(0)

#IMPROVEMENT AREA: a lot of data is dropped here. This might be something from adding the new columns
trainingdata.dropna(inplace=True)
trainingdata.head()

,total_amount_of_pv,solar,temp,feelslike,dew,humidity,precip,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,month,day,time
0,6.30,0.076,54.0,54.0,43.1,66.34,0.0,1.1,300.0,1026.0,100.0,9.5,65.0,0.2,1.0,11,21,16.0
1,6.37,0.097,54.0,54.0,43.1,66.34,0.0,1.1,300.0,1026.0,100.0,9.5,65.0,0.2,1.0,11,21,16.0
2,5.92,0.079,54.0,54.0,43.1,66.34,0.0,1.1,300.0,1026.0,100.0,9.5,65.0,0.2,1.0,11,21,16.0
3,5.39,0.127,54.0,54.0,43.1,66.34,0.0,1.1,300.0,1026.0,100.0,9.5,65.0,0.2,1.0,11,21,16.0
4,6.25,0.152,54.0,54.0,43.1,66.34,0.0,1.1,300.0,1026.0,100.0,9.5,65.0,0.2,1.0,11,21,16.0

In [107]:
# Aggregate solar output by hour. Creates grid-level info rather than house-level
Start_index = 0
End_index = 0
Starting_fresh = True

Cumulative_capacity = 0
Cumulative_output = 0

Previous_month = 11
Previous_day = 12
Previous_time = 10


for i, row in trainingdata.iterrows():
    if Starting_fresh == True:
        Previous_month = trainingdata.at[i,'month']
        Previous_day = trainingdata.at[i,'day']
        Previous_time = trainingdata.at[i,'time']
        
        Cumulative_capacity = 0
        Cumulative_output = 0
        
        Start_index = i
        End_index = i
        Starting_fresh = False
    
    Current_month = trainingdata.at[i,'month']
    Current_day = trainingdata.at[i,'day']
    Current_time = trainingdata.at[i,'time']
    
    if (Current_month != Previous_month) or (Current_day != Previous_day) or (Current_time != Previous_time):
        trainingdata.at[Start_index,'total_amount_of_pv'] = Cumulative_capacity #overwrite first time with cumulative data
        trainingdata.at[Start_index,'solar'] = Cumulative_output
        
        if (Start_index != End_index):
            trainingdata.drop(list(range(Start_index+1, End_index+1)), inplace=True) #drop other rows with the same time after that. this might be a bug if dropping during iterrows causes it to skip
                      
        Previous_month = trainingdata.at[i,'month']
        Previous_day = trainingdata.at[i,'day']
        Previous_time = trainingdata.at[i,'time']
        
        Cumulative_capacity = trainingdata.at[i,'total_amount_of_pv']
        Cumulative_output = trainingdata.at[i,'solar']
        
        Start_index = i
        End_index = i
        
    else:
        Cumulative_capacity = Cumulative_capacity + trainingdata.at[i,'total_amount_of_pv']
        Cumulative_output = Cumulative_output + trainingdata.at[i,'solar']
        End_index = i

In [108]:
trainingdata.head(10)

,total_amount_of_pv,solar,temp,feelslike,dew,humidity,precip,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,month,day,time
0,88.93,1.609,54.0,54.0,43.1,66.34,0.0,1.1,300.0,1026.0,100.0,9.5,65.0,0.2,1.0,11,21,16.0
16,88.93,-0.273,53.1,53.1,44.0,71.14,0.0,2.6,334.0,1025.9,100.0,9.9,22.0,0.1,0.0,11,21,17.0
32,88.93,-0.113,51.3,51.3,45.2,79.54,0.0,1.1,296.0,1026.8,100.0,9.5,49.0,0.2,0.0,11,21,18.0
48,88.93,-0.101,51.2,51.2,46.4,83.72,0.0,0.0,0.0,1027.3,100.0,9.9,17.0,0.1,0.0,11,21,19.0
64,88.93,-0.100,51.1,51.1,45.5,81.10,0.0,1.3,337.0,1027.6,100.0,9.9,1.0,0.0,0.0,11,21,20.0
80,88.93,-0.002,60.6,60.6,46.6,59.73,0.0,1.3,80.0,1021.0,100.0,9.9,43.0,0.2,0.0,11,22,17.0
96,88.93,-0.122,59.5,59.5,47.2,63.79,0.0,0.8,60.0,1021.0,100.0,9.9,11.0,0.0,0.0,11,22,18.0
112,88.93,-0.102,59.3,59.3,47.3,64.50,0.0,0.8,60.0,1021.2,100.0,9.9,31.0,0.1,0.0,11,22,19.0
128,88.93,-0.099,58.9,58.9,47.5,65.86,0.0,3.2,160.0,1020.7,100.0,9.9,1.0,0.0,0.0,11,22,20.0
144,88.93,-0.097,58.9,58.9,47.8,66.51,0.0,6.8,148.0,1020.8,100.0,9.9,0.0,0.0,0.0,11,22,21.0

In [109]:
# Create "Percent Output" column
# Unit Assumptions. Near certain these are right:
#      -"total amount of pv" unit is kW (looked at average PV installation sizes)
#      -"solar" and "grid" units are kW (looked at average home consumption)
# IMPROVEMENT AREA: Does not account for orientation of panels
trainingdata["Percent Output"] = trainingdata["solar"] / trainingdata["total_amount_of_pv"]
trainingdata.head()

,total_amount_of_pv,solar,temp,feelslike,dew,humidity,precip,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,month,day,time,Percent Output
0,88.93,1.609,54.0,54.0,43.1,66.34,0.0,1.1,300.0,1026.0,100.0,9.5,65.0,0.2,1.0,11,21,16.0,0.018093
16,88.93,-0.273,53.1,53.1,44.0,71.14,0.0,2.6,334.0,1025.9,100.0,9.9,22.0,0.1,0.0,11,21,17.0,-0.003070
32,88.93,-0.113,51.3,51.3,45.2,79.54,0.0,1.1,296.0,1026.8,100.0,9.5,49.0,0.2,0.0,11,21,18.0,-0.001271
48,88.93,-0.101,51.2,51.2,46.4,83.72,0.0,0.0,0.0,1027.3,100.0,9.9,17.0,0.1,0.0,11,21,19.0,-0.001136
64,88.93,-0.100,51.1,51.1,45.5,81.10,0.0,1.3,337.0,1027.6,100.0,9.9,1.0,0.0,0.0,11,21,20.0,-0.001124

In [110]:
trainingdata.drop(columns=['solar','total_amount_of_pv'], inplace=True)
trainingdata.head()

,temp,feelslike,dew,humidity,precip,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,month,day,time,Percent Output
0,54.0,54.0,43.1,66.34,0.0,1.1,300.0,1026.0,100.0,9.5,65.0,0.2,1.0,11,21,16.0,0.018093
16,53.1,53.1,44.0,71.14,0.0,2.6,334.0,1025.9,100.0,9.9,22.0,0.1,0.0,11,21,17.0,-0.003070
32,51.3,51.3,45.2,79.54,0.0,1.1,296.0,1026.8,100.0,9.5,49.0,0.2,0.0,11,21,18.0,-0.001271
48,51.2,51.2,46.4,83.72,0.0,0.0,0.0,1027.3,100.0,9.9,17.0,0.1,0.0,11,21,19.0,-0.001136
64,51.1,51.1,45.5,81.10,0.0,1.3,337.0,1027.6,100.0,9.9,1.0,0.0,0.0,11,21,20.0,-0.001124

In [111]:
# reorder so the predicted feature is at the end
column_to_reorder = trainingdata.pop('Percent Output')
trainingdata.insert(len(trainingdata. columns), 'Percent Output', column_to_reorder)

trainingdata.dtypes

temp                float64
feelslike           float64
dew                 float64
humidity            float64
precip              float64
windspeed           float64
winddir             float64
sealevelpressure    float64
cloudcover          float64
visibility          float64
solarradiation      float64
solarenergy         float64
uvindex             float64
month                 int64
day                   int64
time                float64
Percent Output      float64
dtype: object

In [73]:
# Transforming output data to include time-series information
# IMPROVEMENT AREA: Fiddle with how far back you want the data to go to inform future predictions

current_house, onefourtyfive_ago, onethirty_ago, onefifteen_ago, one_ago, fourtyfive_ago, thirty_ago, fifteen_ago = None, None, None, None, None, None, None, None
trainingdata['onefourtyfive_ago'] = None
trainingdata['onethirty_ago'] = None
trainingdata['onefifteen_ago'] = None
trainingdata['one_ago'] = None
trainingdata['fourtyfive_ago'] = None
trainingdata['thirty_ago'] = None
trainingdata['fifteen_ago'] = None

trainingdata.head()

for i, row in trainingdata.iterrows():
    
    
    trainingdata.at[i,'onefourtyfive_ago'] = onefourtyfive_ago
    trainingdata.at[i,'onethirty_ago'] = onethirty_ago
    trainingdata.at[i,'onefifteen_ago'] = onefifteen_ago
    trainingdata.at[i,'one_ago'] = one_ago
    trainingdata.at[i,'fourtyfive_ago'] = fourtyfive_ago
    trainingdata.at[i,'thirty_ago'] = thirty_ago
    trainingdata.at[i,'fifteen_ago'] = fifteen_ago
        
    onefourtyfive_ago = onethirty_ago
    onethirty_ago = onefifteen_ago
    onefifteen_ago = one_ago
    one_ago = fourtyfive_ago
    fourtyfive_ago = thirty_ago                       # refresh previous data variables
    thirty_ago = fifteen_ago
    fifteen_ago = row['Percent Output']   

trainingdata[['onefourtyfive_ago', 'onethirty_ago', 'onefifteen_ago', 'one_ago', 
              'fourtyfive_ago', 'thirty_ago', 'fifteen_ago']] = trainingdata[['onefourtyfive_ago', 'onethirty_ago', 
                                                                              'onefifteen_ago', 'one_ago', 'fourtyfive_ago', 
                                                                              'thirty_ago', 'fifteen_ago']].apply(pd.to_numeric)

In [112]:
# reorder so the predicted feature is at the end
column_to_reorder = trainingdata.pop('Percent Output')
trainingdata.insert(len(trainingdata. columns), 'Percent Output', column_to_reorder)

trainingdata.dtypes

temp                float64
feelslike           float64
dew                 float64
humidity            float64
precip              float64
windspeed           float64
winddir             float64
sealevelpressure    float64
cloudcover          float64
visibility          float64
solarradiation      float64
solarenergy         float64
uvindex             float64
month                 int64
day                   int64
time                float64
Percent Output      float64
dtype: object

In [113]:
trainingdata.describe()

,temp,feelslike,dew,humidity,precip,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,month,day,time,Percent Output
count,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000,7789.000000
mean,68.685069,69.034292,54.797561,65.400261,0.003665,6.144434,155.847503,1016.861972,48.713147,9.223264,158.352574,0.569033,1.556297,6.316985,15.721530,11.492618,0.130228
std,16.734328,18.664735,15.959446,21.324862,0.037646,3.695078,107.556726,6.604588,41.007277,1.800442,242.718468,0.874376,2.450186,3.481339,8.869966,6.918455,0.201332
min,17.800000,8.500000,4.700000,9.380000,0.000000,0.000000,0.000000,1000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,-0.003700
25%,56.300000,56.300000,43.500000,48.130000,0.000000,3.700000,53.000000,1012.400000,6.600000,9.800000,0.000000,0.000000,0.000000,3.000000,8.000000,5.000000,-0.001080
50%,70.100000,70.100000,59.500000,68.010000,0.000000,6.100000,163.000000,1015.600000,33.900000,9.900000,17.000000,0.100000,0.000000,6.000000,16.000000,11.000000,-0.000798
75%,80.600000,82.500000,68.400000,84.380000,0.000000,8.500000,202.000000,1020.700000,97.500000,9.900000,229.000000,0.800000,2.000000,10.000000,23.000000,17.000000,0.201496
max,108.800000,109.800000,76.000000,100.000000,1.350000,22.800000,360.000000,1043.500000,100.000000,9.900000,984.000000,3.500000,10.000000,12.000000,31.000000,23.000000,0.743664

In [114]:
#Normalizing data
for column in trainingdata.columns:
    if column == 'Percent Output':
        break
    trainingdata[column] = trainingdata[column]
    trainingdata[column] = (trainingdata[column] - trainingdata[column].mean()) / trainingdata[column].std()

In [115]:
trainingdata.describe()

,temp,feelslike,dew,humidity,precip,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,month,day,time,Percent Output
count,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7.789000e+03,7789.000000
mean,-1.423058e-14,-2.975039e-16,-1.768603e-15,7.823872e-15,8.572728e-16,-1.109288e-14,9.456495e-16,1.028080e-13,-2.103890e-14,-1.957739e-13,1.704433e-15,-1.550236e-16,3.878183e-15,-2.094027e-14,-3.244149e-16,6.117701e-17,0.130228
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.201332
min,-3.040760e+00,-3.243244e+00,-3.139054e+00,-2.626993e+00,-9.736502e-02,-1.662870e+00,-1.448980e+00,-2.553070e+00,-1.187915e+00,-5.122776e+00,-6.524125e-01,-6.507876e-01,-6.351752e-01,-1.527282e+00,-1.659705e+00,-1.661154e+00,-0.003700
25%,-7.400996e-01,-6.822648e-01,-7.078918e-01,-8.098651e-01,-9.736502e-02,-6.615380e-01,-9.562164e-01,-6.755868e-01,-1.026968e+00,3.203304e-01,-6.524125e-01,-6.507876e-01,-6.351752e-01,-9.527903e-01,-8.705254e-01,-9.384490e-01,-0.001080
50%,8.455262e-02,5.709741e-02,2.946493e-01,1.223801e-01,-9.736502e-02,-1.202531e-02,6.649977e-02,-1.910751e-01,-3.612321e-01,3.758723e-01,-5.823726e-01,-5.364203e-01,-6.351752e-01,-9.105276e-02,3.139467e-02,-7.120343e-02,-0.000798
75%,7.120054e-01,7.214519e-01,8.523127e-01,8.900287e-01,-9.736502e-02,6.374874e-01,4.290991e-01,5.811154e-01,1.189712e+00,3.758723e-01,2.910674e-01,2.641503e-01,1.810894e-01,1.057931e+00,8.205747e-01,7.960422e-01,0.201496
max,2.397164e+00,2.184103e+00,1.328520e+00,1.622507e+00,3.576280e+01,4.507500e+00,1.898091e+00,4.033261e+00,1.250677e+00,3.758723e-01,3.401667e+00,3.352065e+00,3.446148e+00,1.632422e+00,1.722495e+00,1.663288e+00,0.743664

In [116]:
trainingdata.to_csv("Normalized Aggregated 2018 Compiled Weather Data.csv")